* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #212121;
  background-color: #e8f1f0;
}

input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
}

input:focus {
  border-color: #8b9391;
}
.img_choose {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
.btn,
.btn-add,
.btn-edit,
.btn-delete {
  outline: 0;
  background: #098463;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.btn-edit,
.btn-delete {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}
.btn-add {
  background-color: #151e1b;
  padding: 7px 10px;
  border-radius: 5px;
}
.btn-delete {
  background-color: #b72424;
}

.btn-logout {
  padding: 0.5rem;
  color: #080808;
  border: 0;
  outline: 0;
  background-color: inherit;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: #284a42;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
}

table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}
.table-card {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  background: #fff;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.alert {
  padding: 1rem;
  background-color: #ff4040;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: #00a762;
  color: white;
  border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form .form {
  width: 360px;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  padding: 34px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
}

.login-signup-form .form .message {
  margin: 15px 0 0;
  font-size: 16px;
  text-align: center;
}

.login-signup-form .form .message a {
  color: #0b8a76;
  text-decoration: none;
  margin-left: 2px;
}

/* Login/Signup form */

#defaultLayout aside {
  width: 230px;
  background-color: #151e1b;
  padding: 1rem 1rem;
  transition: 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
}

.side-sublink {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 3px;
  border-radius: 7px;
  transition: 0.5ms;
}
.side-sublink:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
/* .side-sublink:first-child {
  font-weight: bold;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.1);
} */

.side-sublink span {
  margin-left: 2px;
}
.links-content {
  margin: 25px 12px;
}

#defaultLayout .top-side {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-side h2 {
  font-weight: 500;
  text-transform: capitalize;
}
#defaultLayout .small-aside {
  width: 0;
  background-color: #151e1b;
}
#defaultLayout .content {
  position: sticky;
  margin-left: 210px;
}
#defaultLayout .small-content {
  margin-left: 2px;
}

#defaultLayout .header {
  height: 60px;
  padding: 1rem 3rem;
  margin-left: 19px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#defaultLayout .small-header {
  height: 60px;
  padding: 1rem 3rem;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#defaultLayout main {
  padding: 1rem;
  margin-left: 1rem;
}
.nav-logout {
  display: flex;
  align-items: center;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.alert {
  background-color: #b72424;
  color: white;
  width: 100%;
  padding: 20px;
}
.d-flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.nav-icons {
  font-size: 20px;
  margin-right: 0.5rem;
}
.message-card {
  width: 200px;
  position: absolute;
  top: 40px;
  z-index: 1000;
  right: 10%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.profile-card {
  width: 200px;
  position: absolute;
  top: 40px;
  z-index: 1000;
  right: 3%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.profile-card ul {
  list-style-type: none;
}
.profile-card ul li {
  text-transform: capitalize;
}
.notification-card {
  width: 200px;
  position: absolute;
  top: 40px;
  z-index: 1000;
  right: 6%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.card-header {
  background-color: #f6f6f6;
  width: 100%;
  padding: 6px 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.3px solid lightgrey;
  height: 50px;
}
.card-header h3 {
  font-weight: 400px;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
}
.profile-card-body {
  padding: 1.5rem 0.2rem;
}
.card-footer {
  border-top: 0.5px solid lightgrey;
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: #f6fafa;
}
.accordion-body .active {
  display: block;
}
.accordion-body .inactive {
  display: none;
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings {
  position: fixed;
  bottom: 0;
  right: 3px;
  font-size: 25px;
}
.pending {
  color: white;
  margin: 4px 7px;
  width: 50px;
  background: mediumaquamarine;
  color: white;
  padding: 4px;
  border-radius: 18px;
}
.notpending {
  color: white;
  margin: 4px 7px;
  width: 70px;
  background: crimson;
  color: white;
  padding: 4px;
  border-radius: 18px;
}
@media screen and (max-width: 900px) {
  table > thead > tr > th {
      text-align: left;
      padding: 0.5rem 0.5rem;
      background-color: #efefef;
  }
}
/* style front end home page */
.navbar-front {
  margin: 12px 40px;
}
.logo {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar-front a {
  text-decoration: none;
  margin-right: 16px;
  color: #080808;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}
.main-thumb {
  margin: 40px 40px;
}
.thumb-content {
  display: flex;
  height: 70vh;
}
.thumb-content-main {
  margin: 12px;
  width: 800px;
}
.thumb-content-main img {
  width: 700px;
  height: 300px;
}
.thumb-content-related {
  width: 400px;
  margin: 12px;
}
.thumb-content-related img {
  width: 200px;
  height: 150px;
  margin-left: 20px;
}
.thumb-content-related h3 {
  margin-left: 20px;
  text-transform: capitalize;
}
.thumb-content-advertiement {
  margin: 12px 2px;
  overflow: scroll;
}
.thumb-content-advertiement img {
  width: 150px;
  height: 150px;
}
.news-content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 12px;
  grid-column-gap: 12px;
  margin-top: 50px;
}
.news-content {
  /* border: 1px solid black; */
}
.news-content img {
  width: 380px;
  height: 200px;
  margin: 7px 12px;
}
.news-content h3 {
  text-transform: capitalize;
  margin-left: 7px;
}
.news-content p {
  text-transform: capitalize;
  margin-left: 7px;
}
.news-content a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 8px;
}
.post-container {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 20px;
  width: 700px;
  border: 1px solid lightgray;
}
.sport-container {
  display: flex;
}
.related-sport {
  width: 400px;
  padding: 20px 30px;
  margin: 30px 10px;
}
.related-sport img {
  width: 300px;
  height: 150px;
}
.related-sport a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  cursor: pointer;
}
.related-link {
  cursor: pointer;
}
